.error {
  background-color: rgb(237, 68, 68);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 1em;
}

.error p {
  font-weight: bold;
  color: white;
  margin: 0 !important;
}
