.button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
  border-color: white;
  text-align: center;
  margin-right: 1em;
}
.button:hover:enabled,
.button:active {
  margin-right: 1em;
  background-color: white;
  border-color: white;
  color: black;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.button.home {
  background-color: #fcfcfc;
  border: 1px solid #3d405b;
  color: #3d405b;
  font-size: 17px;
}

.button.home:hover {
  background-color: #3d405b;
  color: #fcfcfc;
}