.button_container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 0;
}

.container {
  width: 86%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 0.3fr;
  grid-auto-rows: auto;
  gap: 1vh;
  padding: 100px 0;
  padding-bottom: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #0075ff;
  font-weight: 600;
  height: 4vh;
}

.structure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.script_title {
  margin-top: 50px;
  font-size: 2rem;
}

span.script_name {
  font-weight: 800;
  color: #3d405b;
}
