.container {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 0.3fr;
    grid-auto-rows: auto;
    gap: 1vh;
    padding: 100px 0;
  }

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0075FF;
    font-weight: 600;
}