* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background: white;
}

body {
  margin: 0;
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.root {
  height: 100vh;
}
