.container {
    width: 80%;
    margin: 4em auto;
    display: flex;
}

.left {
    width: 50%;
    color: #383838;
}

.left div.top_text {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-size: 50px;
}

.left div.bottom_text {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 300;
}

.right {
    width: 50%;
}

.logo_container {
    margin: 0 15px;
}