.event {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text_container {
  width: 90%;
  margin-top: 10px;
  text-align: center;
}

.event h3 {
  font-size: 0.8rem;
  color: white;
  word-break: break-word;
  margin-bottom: 0;
}

.event span {
  color: white;
  font-size: 0.5em;
}

.edit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit svg {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.edit svg:hover {
  fill: black;
}

.status {
  margin-bottom: 10px;
}

/* 
    Not for always
*/

.container {
  width: 100%;
  height: 100%;
}

.drag {
  text-align: center;
  font-size: .8rem;
  color: white
}

.drag_container {
  padding: 40px 0;
  margin-bottom: 30px;
}

.drag_container:hover .drag {
  font-weight: 700;
}

.status {
  width: 90%;
  font-size: 0.8rem;
  color: white;
}
