.div_container {
  position: absolute;
  bottom: 10%;
  width: 80%;
  margin-left: 50%;
  transform: translate(-50%);
}

.container {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container li {
  text-decoration: none;
}

.circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
